<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ficat.easyble">

    <!-- 1.Android11(api30) or lower -->
    <!-- Request legacy Bluetooth permissions on older devices -->
    <!-- Do not declare android:maxSdkVersion="30" in BLUETOOTH or BLUETOOTH_ADMIN. If add
         it, when we depend this module and app target version <= 30, app will not have
         BLUETOOTH/BLUETOOTH_ADMIN permissions. -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- 2.Android6 ~ Android11(api23~30) -->
    <!-- Android6 ~ 9(api23 ~ 28):  ACCESS_COARSE_LOCATION or ACCESS_FINE_LOCATION -->
    <!-- Android10 ~ 11(api29 ~ 30): ACCESS_FINE_LOCATION -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- 3.Android12(api31) or higher -->
    <!-- BLUETOOTH_SCAN: Used to scan Bluetooth devices. -->
    <!-- BLUETOOTH_CONNECT: Used to scan and connect Bluetooth devices. -->
    <!-- BLUETOOTH_ADVERTISE: Needed only if your app makes the device discoverable to Bluetooth devices. -->
    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation"
        tools:targetApi="31" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_CONNECT"
        tools:targetApi="31" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADVERTISE"
        tools:targetApi="31" />
</manifest>
